/* BASE & RESET */
@use "base/reset" as *;
@use "base/vars" as *;
@use "base/fonts" as *;
@use "base/global" as *;
@use "base/container" as *;

/* UTILS & MIXINS */
@use "mixins/flex" as *;
@use "utils/helpers" as *;

/* LAYOUT */
@use "layout/header" as *;
@use "layout/main" as *;
@use "layout/footer" as *;

/* BLOCKS */
@use "blocks/background" as *;
@use "blocks/hero" as *;
@use "blocks/posts" as *;
@use "blocks/filter" as *;
@use "blocks/types" as *;
@use "blocks/button" as *;
