.header {
  position: relative;
  background: rgba(255, 255, 255, 0.537);
  z-index: 1;
  padding-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0px 12px 24px 0px rgba(0, 0, 0, 0.12), 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  }


  // .header__wrapper

  &__wrapper {
    display: flex;
    padding-left: 380px;
    align-items: center;
    gap: 100px;
    position: relative;
    z-index: 2;



    @media (max-width:1100px) {
      padding-left: 100px;
    }

    @media (max-width:767px) {
      padding-left: 20px;
      gap: 50px;

    }

    @media (max-width:600px) {
      flex-direction: column;
      gap: 20px;
      padding-left: 0;
    }
  }


  // .header__logo

  &__logo {
    margin-top: 5px;
  }

  // .header__info-wrapper

  &__info-wrapper {
    margin-top: 25px;

    @media (max-width:480px) {
      margin-top: 0px;
    }

  }


  // .header__title

  &__title {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width:479px) {
      flex-direction: column;
      gap: 5px;

    }
  }

  // .header__name

  &__name {
    font-family: var(--font-accent);
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: left;

    @media (max-width:480px) {
      font-size: 32px;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }

  // .header__badge

  &__badge {
    box-sizing: border-box;
    border: 1px solid rgba(61, 142, 218, 1);
    border-radius: 2px;
    color: rgba(61, 142, 218, 1);
    font-style: 400;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -3%;
    text-align: left;
    padding: 5px 11px;

    @media (max-width:480px) {
      font-size: 16px;
      padding: 5px 15px;
      font-weight: 500;
    }
  }

  // .header__stats

  &__stats {
    display: flex;
    gap: 18px;
    margin-top: 12px;

    @media (max-width:767px) {
      margin-top: 10px;
      gap: 10px;
      justify-content: center;
    }

    @media (max-width:480px) {
      gap: 20px;
    }

  }

  // .header__stat

  &__stat {
    display: flex;
    gap: 5px;
    margin: 0;

    @media (max-width:479px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
    }

    &-count {
      font-weight: 700;
    }
  }
}
.flatpickr-calendar.open{
  max-width: 400px;
}