* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  color: inherit;
  border: none;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
}

:focus {
  outline: 2px solid #0005;
  outline-offset: 2px;
}