:root {

  --font-main: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-accent: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  --color-header: #ffffff;
  --color-bg: #FAFAFA;
  --color-text: #000;
  --color-accent: #3D8EDA;

}

